<%- include('partials/header') %>
<div class="navbar-fixed">
  <nav>
      <div class="nav-wrapper">
          <!-- <a href=""class="brand-logo left">plutonotes</a> -->
          <ul id="nav-mobile" class="left hide-on-med-and-down">
              <li><a href="/users/../users/mynotes">My notes</a></li>
              <li><a href="/users/../users/create">Create notes</a></li>
              <li><a href="/users/publicnotes">Public notes</a></li>
            </ul>
          <ul class="right">
              <li>
                  <% if (user) { %>
                      <a href="/logout"><i class="material-icons left">trending_flat</i>Log Out</a>
                      <% } else { %>
                          <a href="/auth/google"><i class="material-icons left">vpn_key</i>Login with Google</a>
                          <% } %>
              </li>
          </ul>
      </div>
  </nav>
</div>

<body>
    
    <div class ="create-notes">
        <h2> Edit Mode </h2>
          <!-- Switch -->
       <div class="switch">
        <label>
          light mode
          <input type="checkbox">
          <span class="lever"></span>
          dark mode
        </label>
      </div>
    <br></br>
     <!-- Form -->
    <form action ="/users/mynotes/<%=note._id %>?_method=POST" class= "edit-form" method="POST">
     <div class="form-group">
     <label for="title">Title</label>
     <input required value="<%= note.title %>" type="text" name="title" id="title" class="form-control">
   </div>
   <div class="form-group">
     <label for="description">Description</label>
     <textarea name="description" id="description" class="form-control"><%= note.description %></textarea>
   </div>
   <div class="form-group">
    <label for ="date">Date</label>
    <input type = "datetime-local" name = "date">
  </div>
   <div class="form-group">
     <label for="content">Content</label>
     <textarea required name="content" id="content" class="form-control"><%= note.content %></textarea>
     <input type="submit" value="Save">
  </div>
  
    
     <!-- Markdown Cheatsheet -->
    <div class="row">
        <div class="col s12 m2">
          <div class="card-panel teal">
            <span class="white-text">
                <p>Markdown Cheatsheet</p>
                <p># Big Header</p>
                <p><em>*italicize*</em></p>
                <p> **bold** </p>
            </span>
          </div>
        </div>
      </div>
    
    </body>
    </html>
