<%- include('partials/header') %>


<body>
    
    <div class ="create-notes">
        <h2> Edit section</h2>
          <!-- Switch -->
       <div class="switch">
        <label>
          light mode
          <input type="checkbox">
          <span class="lever"></span>
          dark mode
        </label>
      </div>
    <br></br>
     <!-- Form -->
    <form action ="/users/mynotes/<%=note._id %>?_method=POST" class= "edit-form" method="POST">
     <div class="form-group">
     <label for="title">Title</label>
     <input required value="<%= note.title %>" type="text" name="title" id="title" class="form-control">
   </div>
   <div class="form-group">
     <label for="description">Description</label>
     <textarea name="description" id="description" class="form-control"><%= note.description %></textarea>
   </div>
   <div class="form-group">
    <label for ="date">Date</label>
    <input type = "datetime-local" name = "date">
  </div>
   <div class="form-group">
     <label for="content">Content</label>
     <textarea required name="content" id="content" class="form-control"><%= note.content %></textarea>
     <input type="submit" value="Save">
  </div>
  
    
     <!-- Markdown Cheatsheet -->
    <div class="row">
        <div class="col s12 m2">
          <div class="card-panel teal">
            <span class="white-text">
                <p>Markdown Cheatsheet</p>
                <p># Big Header</p>
                <p><em>*italicize*</em></p>
                <p> **bold** </p>
            </span>
          </div>
        </div>
      </div>
    
    </body>
    </html>
    <%- include('partials/footer') %>