<%- include('partials/header') %>
<div class="navbar-fixed">
  <nav>
      <div class="nav-wrapper">
          <!-- <a href=""class="brand-logo left">plutonotes</a> -->
          <ul id="nav-mobile" class="left hide-on-med-and-down">
              <li><a href="../home">Home</a></li>
              <li><a href="/users/../users/mynotes">My notes</a></li>
              <li><a href="/users/../users/create">Create notes</a></li>
              <li><a href="/users/publicnotes">Public notes</a></li>
            </ul>
          <ul class="right">
              <li>
                  <% if (user) { %>
                      <a href="/logout"><i class="material-icons left">trending_flat</i>Log Out</a>
                      <% } else { %>
                          <a href="/auth/google"><i class="material-icons left">vpn_key</i>Login with Google</a>
                          <% } %>
              </li>
          </ul>
      </div>
  </nav>
</div>

<h2>My cool notes</h2>

<!-- Notes Table--> 
<table class = "responsive-table">
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Date</th>
      <th>Content</th>
      <th>View</th>
      <th>Edit</th>
      <th>Delete</th>
    </tr>
  </thead>
  <tbody>
    <% notes.forEach(function(q) { %>
      <tr>
        <td><%= q.title %></td>
        <td><%= q.description %></td>
        <td><%= q.date.toLocaleDateString()%></td>
        <td><%= q.content %></td>
        
          <!--view-->
        <form action ="/users/mynotes/<%=q._id %>?_method=GET" class= "view-form" method="POST">
          <td><button type="submit"><i class="material-icons center">subject</i></button></td>
       </form>

        <!--edit-->
        <form action ="/users/mynotes/<%=q._id %>?_method=PUT" class= "edit-form" method="POST"> 
          <td><button type="submit"> <i class="material-icons center">mode_edit</i></button> </td>
          </form>
        
        <!--delete-->
        <form action="/users/mynotes/<%=q._id%>?_method=DELETE" class="delete-form" method ="POST">
          <td><button type="submit"> <i class="material-icons center">delete</i></button></td>
        </form>
        
      </tr>
      <% }); %>
    </tbody>
  </table>


  