<%- include('partials/header') %>

<h2>My cool notes</h2>
<!--sample note-->
<div class="row">
    <div class="col s12 m6">
      <div class="card blue-grey darken-1">
        <div class="card-content white-text">
          <span class="card-title">Sample Notes</span>
          <p>This is an example. You can view and delete your notes. Writing notes is fun. We hope you enjoy! </p>
        </div>
        <div class="card-action">
          <a href="../users/mynotes/view">View</a>
          <a href="../users/mynotes/view">Edit</a>
          <a href="../users/mynotes/delete">Delete</a>
        </div>
      </div>
    </div>
  </div>

<!-- Notes Table--> 
<table class = "responsive-table">
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Date</th>
      <th>Content</th>
      <th>View</th>
      <th>Edit</th>
      <th>Delete</th>
    </tr>
  </thead>
  <tbody>
    <% notes.forEach(function(q) { %>
      <tr>
        <td><%= q.title %></td>
        <td><%= q.description %></td>
        <td><%= q.date.toLocaleDateString()%></td>
        <td><%= q.content %></td>
        
          <!--view-->
        <form action ="/users/mynotes/<%=q._id %>?_method=GET" class= "view-form" method="POST">
          <td><button type="submit"><i class="material-icons center">subject</i></button></td>
       </form>

        <!--edit-->
        <form action ="/users/mynotes/<%=q._id %>?_method=PUT" class= "edit-form" method="POST"> 
          <td><button type="submit"> <i class="material-icons center">mode_edit</i></button> </td>
          </form>
        
        <!--delete-->
        <form action="/users/mynotes/<%=q._id%>?_method=DELETE" class="delete-form" method ="POST">
          <td><button type="submit"> <i class="material-icons center">delete</i></button></td>
        </form>
        
      </tr>
      <% }); %>
    </tbody>
  </table>



<!--IGNORE ME!!!-->
<!--Notes card-->
<!-- <div class = "row">
    <div class="col s12 m6">
    <div class="card blue-grey darken-1">
      <div class="card-content white-text">
        <span class="card-title"></span>
        <tr>
       <% notes.forEach(function(t){ %>
          <td>Title: <%= t.title%> </td>
          <td>Description:<%= t.description%></td>
          <td>Date:<%= t.date.toLocaleDateString()%></td>
          <td>Content: <%= t.content%></td>
          <% }); %>
        </tr>
    <div class="card-action">
      <a href="../users/mynotes/view">View</a>
      <a href="../users/mynotes/edit">Edit</a>
      <a href="../users/mynotes/delete">Delete</a>
    </div>
      </div>
    </div>
    </div>
</div> -->

  